html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit; 
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-top-half {
  border: 1px solid black;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.content-box {
  border: 1px solid black;
}

.introduction {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#start-quiz-button {
  height: 40px;
  width: 150px;
  margin-bottom: 10px;
}

footer {
  font-style: italic;
}

.image-bottom-half {
  border: 1px solid black;
  height: 100px;
  padding: 0 10px 0 10px;
}

.hidden {
  display: none;
}

/* Question contents */

.quiz-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.user-stats div {
  display: inline-block;
  margin: 5px auto 5px auto;
  padding: 0 5px 0 5px;
}

.stats-question-number {
  border: 1px solid black;
  float: left;
}

.stats-score {
  border: 1px solid black;
  float: right;
}

.quiz-parent-form, 
.quiz-form,
fieldset {
  width: 100%;
  padding: 0;
}

fieldset {
  border: none;
  padding: 0;
}

.quiz-form .quiz-question {
  border: 1px solid black;
  margin: 5px auto 10px auto;
  clear: both;
  width: 100%;
}

.answer-choice {
  border: 1px solid black;
  margin: 0 auto 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer-choice label {
  margin-left: 10px;
}

#submit-answer {
  margin: 10px 0 10px 0;
  width: 100px;
  height: 30px;
}

/* Answer result content */

.quiz-answer-result {
  clear: both;
  margin: 5px auto 5px auto;
  width: 200px;
  border: 1px solid black;
}

.answer-image {
  width: 100px;
  height: 100px;
  margin: 5px auto 10px auto;
}

.answer-correct-image {
  background-color: lightgrey;
}

.answer-incorrect-image {
  background-color: lightgrey;
}

.answer-correct h5 {
  font-size: 16px;
  margin: 15px auto 15px auto;
}

.next-question {
  margin-bottom: 10px;
  height: 30px;
  width: 80px;
}

.show-correct-answer h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-correct-answer p {
  margin-top: 10px;
}

/* Final result contents */

.end-result {
  clear: both;
}

.restart-button {
  height: 40px;
  width: 150px;
  margin: 0 auto 10px auto;  
}

@media (min-width: 360px)
and (max-width: 767px) {
  .container {
    width: 350px;
  }

  header h1 {
    font-size: 28px;
  }

  .introduction h3 {
    font-size: 18px;
  }

  .introduction p {
    font-size: 16px;
  }

}

@media (min-width: 768px) 
and (max-width: 1224px) {
  .container {
    width: 700px;
  }

  header h1 {
    font-size: 34px;
  }

  .introduction h3 {
    font-size: 24px;
  }

  .introduction p {
    font-size: 20px;
  }

  .quiz-answer-result {
    width: 300px;
  }

  .quiz-answer-result h3 {
    font-size: 22px;
  }
  
  .answer-image {
    width: 130px;
    height: 130px;
  }

  .answer-correct h5 {
    font-size: 20px;
  }

  .show-correct-answer h5 {
    font-size: 16px;
  }
}

@media (min-width: 1225px) {
  .container {
    width: 900px;
  }

  header h1 {
    font-size: 38px;
  }

  .introduction h3 {
    font-size: 30px;
    margin: 100px auto 40px auto;
  }

  .introduction p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #start-quiz-button {
    margin-top: 20px;
  }

  /* Question contents */

  .content-box {
    height: 410px;
  }

  .answer-choice {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .choice-1, .choice-3 {
    float: left;
  }

  .choice-2, .choice-4 {
    float: right;
  }

  #submit-button {
    margin: 0 0 0 0;
  }

  .quiz-answer-result {
    width: 400px;
  }
  .quiz-answer-result h3 {
    font-size: 24px;
  }
  
  .answer-image {
    width: 150px;
    height: 150px;
  }
  
  .answer-correct h5 {
    font-size: 22px;
  }
  
  .show-correct-answer h5 {
    font-size: 20px;
  }

  .end-result {
    padding-top: 10px;
  }

  .end-result p {
    font-size: 20px;
  }

  .end-result h2 {
    font-size: 32px;
  }

  .end-result h4 {
    font-size: 24px;
  }

  #restart-button {
    margin-top: 40px;
  }
}